LAYERS SPECIFICATION
{% set json_types = ['string', 'integer', 'number', 'array', 'boolean', 'object'] %}
<script>
  function generate_numeric_constraint(label) {
    return $(`<label>${label}<input class="form-control" type="number"></label>`)
  }

  // for object - for each property -> generate constraints recursively
  /* TODO - think about enum ("oneOf") for any class
          it should overwrite all other constraints
  */
  // for prop in props.drop('type') {
  //    if prop in constraints_elements[curr_type].keys() {
  //        generate_constraints_elements(constraints_elements[curr_type][prop])
  //    }
  //  }
  const constraints_elements = {
    "number": {
      "minimum": generate_numeric_constraint('Minimum'),
      "maximum": generate_numeric_constraint('Maximum'),
    },
    "boolean": {},
    "string": {},

    "array": {
      "items": undefined,
      "maxItems": generate_numeric_constraint('Max # items'),
      "minItems": generate_numeric_constraint('Min # items'),
    }
  };

  constraints_elements['integer'] = constraints_elements['number'];

</script>

<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        {% for l_type, layer_schema in layer_schemas.items() %}
          {% set l_type_lower = l_type | lower %}
          <a class="list-group-item list-group-item-action" id="list-{{ l_type_lower }}-list"
             data-toggle="list"
             href="#list-{{ l_type_lower }}" role="tab" aria-controls="{{ l_type_lower }}">{{ l_type }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">
        {% for l_type, layer_schema in layer_schemas.items() %}
          {% set params = layer_schema.properties.params %}
          {% set props = params.properties %}
          {% set params_required = params.get('required', []) %}
          {# TODO: add additional constraints: https://getbootstrap.com/docs/4.3/components/collapse/#example  #}
          {# TODO filter like this https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_filter #}

          {% set l_type_lower = l_type | lower %}
          <div class="tab-pane fade show" id="list-{{ l_type_lower }}" role="tabpanel"
               aria-labelledby="list-{{ l_type_lower }}-list">
            PARAMETERS
            <table class="table">
              {% for prop_name, prop_val in props.items() %}
                <tr>
                  <td>
                    <label for="{{ l_type_lower }}-{{ prop_name }}-type-select">
                      {{ prop_name }}
                    </label>
                  </td>
                  <td>
                    <div class="form-check form-check-inline">
                      <select id="{{ l_type_lower }}-{{ prop_name }}-type-select"
                              class="selectpicker form-check-input">
                        {% for dt in json_types %}
                          <option {% if dt == prop_val.type %}
                            {{ "selected=\"selected\"" }}{% endif %}
                          >{{ dt[0] | upper }}{{ dt[1:] }}</option>
                        {% endfor %}
                      </select>
                      <label class="form-check-label">
                        <input type="checkbox"
                            {{ "checked" if prop_name in params_required }}>
                        Required
                      </label>

                    </div>
                    <div>
                      <a class="" data-toggle="collapse"
                         href="#{{ l_type_lower }}-{{ prop_name }}-additional-constraints"
                         role="button" aria-expanded="false"
                         aria-controls="collapseExample">
                        Additional constraints
                      </a>
                      <div class="collapse"
                           id="{{ l_type_lower }}-{{ prop_name }}-additional-constraints">
                        <div class="card card-body">
                          {# TODO #}
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </table>
            {#                        {{ layer_schema['properties'].keys() }}#}
            {#      TODO - add content (fields, types, "edit" buttons), etc.        #}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!--
TODO
    Generate this: https://getbootstrap.com/docs/4.0/components/list-group/#javascript-behavior
    For every layer With Jinja
    USE SQLCipher for SQLite db file
-->

<script>
  //# sourceURL=login.js
</script>
