<div class="container">
    <div class="row" style="height: 100px;">
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm"></div>
    </div>
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <form id="login-form" method="post">
                <h2 class="text-center">Log in</h2>
                <div class="form-group">
                    <input type="email" name="username" class="form-control" placeholder="Email" required="required">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password"
                           required="required">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Log in</button>
                </div>
            </form>
            <span id="login-error" style="font-size: 16px; color: red; visibility: collapse">Wrong email or password. Try again.</span>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#login-form').submit(function (event) {
        event.preventDefault();

        const form = $(this);
        const url = "/user/login";

        $.ajax(url, {
            'method': 'POST',
            'data': form.serialize(),
            'success': function (data, status = '') {
                console.log(status);
                const jwt = (typeof data == 'string') ? JSON.parse(data)['access_token'] : data['access_token'];
                localStorage.setItem('jwt', jwt);
                window.location.href = '/user/admin';
            },
            'error_message': function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus);
                console.log(errorThrown);
                $('#login-error_message').css('visibility', 'visible');
            }
        })
    })
    //# sourceURL=login.js
</script>
